[flake8]
max-line-length = 88
extend-ignore = E203, E501, W503
exclude = .git,__pycache__,alembic/versions,venv,.venv
per-file-ignores =
    __init__.py:F401
    tests/*:E402,F401,F811
    app/models/*:F821
